h1 {
	color: red;
	font-size: 36px;
	text-align: center;
	font-weight: bold;
}

p {
	margin: 2rem;
	font-size: 24px;
	text-align: center;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
.container {
  padding: 16px;
}

input[type=text], input[type=password] {
  width: 108rem;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

#register {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}